@import url('fonts.css');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: PT_Sans-Web, sans-serif;
    background: #f2f2f2;
}

header {
    background: #FFC107;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

.name a {
    float: left;
    width: 8%;
    margin: 0px 8%;
}

.name img {
    width: 100%;
    padding: 0px;
}

.nav li {
    display: inline-block;
    text-align: center;
    float: right;
    height: 100%;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    -webkit-transition:background 1s ease;
    transition:background 1s ease;
}

.nav li a:hover {
    background: #795548;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.session {
    background: #795548;
}

.banner {
    clear: both;
    background-image: url(img/cover.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    padding: 6% 15%;;
}

.motto {
    color: #2E1E30;
    text-align: center;
    width: auto;
}

.tiny {
    color: #fff;
    font-family: PT_Sans-Web-Bold, sans-serif;
    font-size: 20px;
}

.big {
    color: #fff;
    font-family: PT_Sans-Web-Bold, sans-serif;
    font-size: 80px;
}

.info {
    width: auto;
    text-align: center;
    color: #fff;
    float: left;
    font-family: PT_Sans-Web-Bold, sans-serif;
    font-size: 30px;
}

.playstorei img{
    width: 20%;
    float: right;
}

.description {
    background: #F5F2F4;
    width: 100%;
    padding: 3% 30%;
}

.parral img {
    width: 100%;
    border: 5px solid #000;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.description h1{
    text-align: center;
    margin: 0 0 3% 0;
    color: #2E1E30;
    font-family: PT_Sans-Web-Bold, sans-serif;
    font-size: 50px;
}

.description p {
    text-align:justify;
}

.parral {
    width: 100%;
    padding: 0;
}

footer {
    background: #FEAE23;
    width: 100%;
    overflow: hidden;
    padding: 0;
    color: #fff;
}

.greetings {
    width: 33%;
    float: left;
    padding: 10px;
}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

.greetings p {
    text-align: justify;
}

.support {
    float: left;
    width: 33%;
    padding: 1%;
}

.support article {
    text-align: center;
    font-family: PT_Sans-Web-Bold, sans-serif;
}

.support ul li a {
    text-decoration: none;
    color: #fff;
}

.support ul li {
    list-style: none;
    text-align: center;
    margin: 8px;
}

.social {
    float: left;
    width: 33%;
    padding: 1%
}

.social article {
    text-align: center;
    font-family: PT_Sans-Web-Bold, sans-serif;
}

.brands {
    text-align: center;
    width: auto;
}

.brands a:link {
    color: #fff;
}

.brands a:visited {
    color: #fff;
}

.brands a:active {
    color: #fff;
}

.fbi {
    font-size: 50px;
    margin: 10px;
}

.yti {
    font-size: 50px;
    margin: 10px;
}

h1 {
    margin-top: 5%;
    text-align: center;
    font-family: PT_Sans-Web-Bold, sans-serif;
    font-size: 80px;
}

.login {
    text-align: center;
    margin: auto;
    margin-top: 1%;
    padding: 20px;
    width: 50%;
    background: #FFC107;
    border-radius: 5px;
    color: #fff;
}

.login input[type="text"],
.login input[type="password"] {
    font-family: PT_Sans-Web, sans-serif;
    font-size: 20px;
    border: solid 3px #FFA000;
    border-radius: 5px;
    background: #FFF;
    text-align: left;
    width: 90%;
    padding: 3%;
    margin: 10px;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
    border: solid 4px #795548;
}

.login input[type="submit"] {
    font-family: PT_Sans-Web-Bold, sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #795548;
    color: #fff;
    padding: 2%;
    margin-bottom: 20px;
}

.login a:link {
    color: #795548;
}

.login a:visited {
    color: #795548;
}

.login a:active {
    opacity: 0.5;
}
