@import url('fonts.css');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Titillium-Web", sans-serif;
}

header {
    background: #FEAE23;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.name a {
    float: left;
    width: 30%;
}

.name img {
    width: 100%;
}

.nav li {
    display: inline-block;
    text-align: center;
    float: right;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.nav li a:hover {
    background: #2E1E30;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.session {
    background: #2E1E30;
}

.banner {
    clear: both;
    background-image: url(img/cover.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    padding: 5%;
}

.motto {
    color: #2E1E30;
    text-align: center;
}

.tiny {
    color: #000;
    font-family: "Titillium-Web-Bold", sans-serif;
    font-size: 20px;
}

.big {
    color: #000;
    text-shadow: 3px 3px 80px;
    font-family: "Titillium-Web-Black", sans-serif;
    font-size: 80px;
}

.info {
    width: 70%;
    text-align: left;
    color: #000;
    float: left;
    padding: 0 50px;
    font-family: "Titillium-Web-SemiBold", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 10px;
}

.playstore {
    width: 30%;
    color: #fff;
    float: right;
}

.playstore p {
    color: #000;
    text-align: right;
    display: inline-block;
    width: 70%;
    padding: px;
    font-family: "Titillium-Web-SemiBold";
    font-size: 20px;
}

.badge img {
    width: 100%;
    display: inline-block;
    margin: 0px 10px;
}